p Dear, #{@user.full_name}!

p We are waiting for you on #{@event.started_at.strftime('%A, %d of %B')} at #{@event.venue.name}, #{@event.venue.address}.
p
  b We start at #{@event.started_at.strftime('%H:%M')}!**

p Confirm your attendance asap using the links below, so we'll know whether to keep a place for you!

p Are you coming for sure?
p = link_to 'Sure, YES', event_visit_request_url(@event, @visit_request, answer: :yes, token: @visit_request.token, host: host), class: 'confirm'
</div>

p Please, if you changed your mind cancel your attendance (we’ll invite smb from the waiting list):
p = link_to "Sorry, I won't come", event_visit_request_url(@event, @visit_request, answer: :no, token: @visit_request.token, host: host), class: 'confirm'

p= @venue.description

p= @event.agenda

p Thanks and see you!

p With the warmest regards, YOUR PIVORAK AUTHORITY

| You have received this mail because we've launched our site :)  Hugs, kisses and appreciation to our contributors! Want to jump in and take an issue on your shoulders? Just check [here](https://github.com/pivorakmeetup/pivorak-web-app/issues)
